<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h4>Vicoders Ngx Form Platform</h4>
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <ng-template ngxFormAnchor [controls]="profileForm.controls"></ng-template>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br/>
          <button class="btn btn-danger" (click)="addField()">Add Field</button>
        </div>
      </div>
    </div>
  </div>
</div>
